body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.signup-form-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../../imgs/signup.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 17px;

    height: 100vh;
}

.login-form-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../../imgs/login.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.form-page {
    /* margin: 10px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: space-between;
}

.form-input {
    color: #f5f7f6;
    font-family: Arial Rounded MT;
    background-color: rgb(187, 188, 188);
    border: none;
    border-radius: 30px;
    margin-bottom: 17px;
    width: 350px;
    padding: 7px 14px;
    font-size: 22px;
    height: 32px;
    background: linear-gradient(
            90deg,
            rgba(136, 139, 139, 1) 40%,
            rgba(187, 188, 188, 1) 100%
    );
}

.form-img {
    /* max-width: 100%; */
    width: 100%;
    height: calc(95vh - 56px);
    display: block;
    /* padding-left: -10px; */
}

.form-input:last-child {
    margin-bottom: 20px;
}

.form-input::placeholder {
    color: #f5f7f6;
    text-align: center;
    font-size: 24px;
}

.terms {
    margin-left: 1em;
    color: #f5f7f6;
    font-family: 'Arial Rounded MT', Bold;
}

.form-checkbox {
    transform: scale(1.5);
}