/*  COLORS  
#FF5600
#0F4C81
#F5F7F6
#BBBCBC
#888B8B
#101820
*/

.entry-page {

  background-color: #101820;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  height: 100vh; /* Make the background cover the whole screen height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-header-container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #ff5600;
    margin-right: 10px;
}

.header {
    font-size: 100px;
    color: #f5f7f6;
    font-family: Arial Rounded MT Bold;
    margin-left: 20px;
}

.header2 {
    font-size: 100px;
    color: #f5f7f6;
    font-family: Arial Rounded MT Bold;
}

.header3 {
    font-size: 100px;
    color: #f5f7f6;
    font-family: Arial Rounded MT Bold;
}

.button-container {
    position: absolute;
    left: 150px;
    top: 530px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Style the buttons */
.entry-button {
    background: linear-gradient(
            180deg,
            rgba(255, 86, 0, 1) 40%,
            rgba(196, 170, 138, 1) 100%
    );
    color: #f5f7f6;
    padding: 10px 50px;
    height: 100px;
    width: 200px;
    border: none;
    cursor: pointer;
    margin: 20px;
    border-radius: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    font-family: Arial Rounded MT Bold;
    font-style: italic;
    line-height: 100px;
    box-shadow: 0 4px 8px 0 #101820, 0 3px 10px 0 #101820;
}

/* Hover effect for buttons */
.entry-button:hover {
    background: linear-gradient(
            180deg,
            rgba(196, 170, 138, 1) 0%,
            rgba(255, 86, 0, 1) 60%
    );
    box-shadow: 0 8px 16px 0 rgba(255, 86, 0, 1),
    0 6px 20px 0 rgba(196, 170, 138, 1);
    transition: background 0.3s ease;
}

.entry-button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.parag-text-container {
    display: flex;
    flex-direction: column; /* Adjust to display content vertically */
    align-items: flex-end; /* Align content to the right side */
    position: absolute;
    left: 1160px;
    bottom: 90px; /* Adjust to position the container at the bottom right */
    max-width: 500px;
}

.paragraph {
    font-size: 50px;
    color: #f5f7f6;
    font-family: Arial Bold;
    margin-bottom: 10px; /* Add spacing between paragraph and author */
}

.author {
    font-size: 60px;
    color: #0f4c81;
    font-family: Arial Bold;
}