.event-list-container {
    bottom: 0;
    width: 100%;
    background: transparent; /* Remove gradient background from the page */
    overflow: auto; /* Allow scrolling */
    scrollbar-width: thin;
    white-space: nowrap;
    text-align: center;
}

.event-list-container::-webkit-scrollbar {
    width: 6px; /* Adjust the scrollbar width as needed */
}

.event-list-container::-webkit-scrollbar-track {
    background: transparent; /* Make the scrollbar track transparent */
}

.event-list-container .event-description {
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Add ellipsis (...) for overflow */
    max-width: 200px; /* Set the maximum width for the description */
}

.event-list-container .event-name {
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Add ellipsis (...) for overflow */
    max-width: 200px; /* Set the maximum width for the description */
}

.event-list-container .event-list {
    display: inline-block;
}

.event-list-container .event-item {
    display: inline-block;
}

.event-list-container .event-image {
    max-width: 200px; /* Adjust the image size as needed */
    max-height: 150px;
    border-radius: 10px;
}

.event-list-container .event-item {
    display: inline-block;
    background: #BBBCBC;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

.event-list-container .event-item:hover {
    transform: scale(1.05); /* Apply a scale transform on hover */
}

.event-list-container .event-item-content {
    padding: 10px; /* Adjust the padding as needed */
}


