/*  COLORS  
#FF5600
#0F4C81
#F5F7F6
#BBBCBC
#888B8B
#101820
*/

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 17px;
  
    height: 100vh;
  }
  
  .signup-form-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('/public/signup.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .form-page {
    /* margin: 10px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: space-between;
  }
  
  .form-img {
    /* max-width: 100%; */
    width: 100%;
    height: calc(95vh - 56px);
    display: block;
    /* padding-left: -10px; */
  }
  
  .form-input {
    color: #f5f7f6;
    font-family: Arial Rounded MT;
    background-color: rgb(187, 188, 188);
    border: none;
    border-radius: 30px;
    margin-bottom: 17px;
    width: 350px;
    padding: 7px 14px;
    font-size: 22px;
    height: 32px;
    background: linear-gradient(
      90deg,
      rgba(136, 139, 139, 1) 40%,
      rgba(187, 188, 188, 1) 100%
    );
  }
  
  .form-input:last-child {
    margin-bottom: 20px;
  }
  
  .form-input::placeholder {
    color: #f5f7f6;
    text-align: center;
    font-size: 24px;
  }
  
  .checkbox-label {
    color: white;
    margin-left: 15px;
    font-family: Arial Rounded MT;
    font-size: 25px;
  }
  
  .checkbox-signup {
    height: 20px;
    width: 30px;
  }
  