/* EventList.css */

.manager-page-container .event-list {
	display: flex;
	flex-direction: column;
	width: 70%; /* Adjust width as needed */
	min-width: 800px;
}

.manager-page-container .event-list-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
