.admin-page-container {
	display: flex;
	flex-direction: column;

	height: 100vh;
}

.hero-section-container {
	height: 100%;
	background-image: url("../../../imgs/background-img.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;

	/* filter: blur(13px); */
	/* box-shadow: 0 0 0 30px black; */
}
